[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rota-generator-rl = {file = ".", editable = true}
runpod = ">=1.6"
openpipe-art = {extras = ["skypilot"], version = "*"}
skypilot-nightly = {extras = ["runpod"], version = "*"}
semver = "*"
async-lru = "*"
datasets = "*"
huggingface-hub = "*"
requests = "*"
wandb = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
